

.productCard{
    display: flex;
    flex-direction: column;
    border: black solid 1px;
    border-radius: 10px;
    object-fit: contain;
    cursor: pointer;
    transition: 0.3s;
    box-sizing: border-box;
    margin: 10px;
    min-width: 100px;
    min-height: 100%;
}

.productCard:hover{
    transform: translate(-0.25rem, -0.25rem);
    box-shadow: 0.25rem 0.25rem 0 black
}

.card__image{

    display: flex;
    align-content: center;
    margin: auto;
    justify-content: space-around;


    cursor: pointer;
    width: 80%;
    max-height: 60%;

}


.card__image-img{
    opacity: 1;
    transition: opacity 5s  ease-in-out; /* ajoutez une transition d'opacité */
    max-width: 100%;
    min-height: 120px;
    object-fit: contain;
    border-radius: 10px;
}
.card__infos{
    display: flex;
    flex-direction: row;
    height: 30%;

}
.card__infos-left{
    width: 50%;
    margin-left: 20%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 0.7em;
    height: 100%;

}
.productCard .card__infos-title{
    background : none;
    animation: none;
}

.productCard .card__infos-author{
     background : none;
     animation: none;
 }

.card__infos-right{
    width: 50%;
}

/*----------------IS-LOADING--------------*/


@keyframes shine {
    to {
        background-position-x: -200%;
    }
}
